<ng-container>
  <div class="article-container" [ngClass]= "{ 'article-onSale': article.isOnSale}" >
    <div>
      <img [src]="article.imageUrl" alt="Imagen del artículo" class="article-image">
      <h2>{{ article.name }}</h2>
      <p [ngClass]= "{ 'price-onSale': !article.isOnSale}">Precio: {{ article.price }}€</p>
      <p *ngIf="article.isOnSale">Unidades: {{ article.quantityInCart }}</p>
    </div>
    <div *ngIf="article.isOnSale">
      <button (click)="removeArticleUnit()" [disabled]="article.quantityInCart === 0">-</button>
      <button (click)="addArticleUnit()">+</button>
    </div>
  </div>
</ng-container>

